.about {
  display: flex;
  justify-content: center;
}

.about__wrapper {
  display: flex;
  flex-flow: column nowrap;

  @include adaptive-width-desktop(30px, 50px, 225px, 300px);
}

.about__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet) and (max-width: $desktop) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.about__item-logo {
  fill: $green-light;
}

.about__item-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
  }
}
