.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  background: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark;
  border: 2px solid $dark;

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

.button--border-light {
  border-color: $white-light;
}
