.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  background: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark;
  border: 2px solid $dark;

  @media (min-width: $tablet) {
    padding: 14px 17px;
    font-size: 17px;
  }
}

.button:hover {
  color: $white;
  background-color: $dark;
}

.button:active {
  color: $white-alfa-3;
  background-color: $dark;
}

.button--border-light {
  border-color: $white-light;

  &:hover {
    background: none;

    & .button__icon {
      fill: $black-alfa-6;
    }
  }

  &:active {
    background: none;

    & .button__icon {
      fill: $black-alfa-3;
    }
  }

  @media (min-width: $tablet) {
    border-color: transparent;
  }
}

.button--icon {
  fill: $black;
}
