.catalog {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
}

.catalog__header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background-color: $white-dark;
}

.catalog__header-menu {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @include adaptive-width;
}

.catalog__header-text {
  margin: 0;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 30px;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include adaptive-width;
}
