.feedback {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  margin: 0 0 38px 0;
  padding: 0 0 51px 0;

  &::after {
    @include separator-small;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;

  @media (min-width: $tablet) {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 50px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 0 50px 0 225px;
  }
}

.feedback__header {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet) {
    order: -2;
  }
}

.feedback__img {
  z-index: -1;
  position: relative;
  display: none;
  height: 100%;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: $desktop) {
    display: block;
    left: 50px;
  }
}

.feedback__text {
  margin: 0 0 35px 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $dark;
}

.feedback__author {
  margin: 0 0 30px 0;
}

.feedback__name {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.feedback__nickname {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  color: $dark;
}

.feedback__button-arrow-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  margin: 0 0 34px 0;
}

.feedback__button-arrow {
  flex-grow: 1;
  margin-left: -2px;

  &:first-child {
    margin-left: 0;
  }
}

.feedback__button-review {
  @media (min-width: $tablet) {
    order: -1;
  }
}
