.footer {
  display: flex;
  justify-content: center;
  background-color: $white-dark;
}

.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 25px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 45px;
  }

  @include adaptive-width;
}

.footer__logo {
  display: none;
  fill: $black;

  @include event-green-opacity;

  @media (min-width: $tablet) {
    display: block;
    margin-top: 7px;
  }
}
