.form-order {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.form-order__header {
  width: 100%;
  margin: 0;
}

.form-order__description {
  margin: 16px 0 29px 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: $dark;

  @media (min-width: $tablet) {
    margin: 58px 0 78px 0;
    font-size: 17px;
    line-height: 30px;
  }

  @include adaptive-width(30px, 50px, 225px);
}

.form-order__form {
  position: relative;
  width: 100%;
}
