.form-order {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 25px 0;
}

.form-order__header {
  width: 100%;
  margin: 0;
}

.form-order__description {
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0 20px 0;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: $dark;

  @media (min-width: $tablet) {
    width: $tablet;
    margin: 58px 0 10px 0;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

.form-order__form {
  position: relative;
  width: 100%;
}
