.logo {
  @include event-opacity;
}

.logo__img {
  fill: $black;
}

.logo__img--mobile {
  display: none;

  @media (max-width: $tablet - 1px) {
    display: block;
  }
}

.logo__img--tablet {
  display: none;

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    display: block;
  }
}

.logo__img--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}
