.page {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: $white;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.page__header {
  z-index: 10;
  position: relative;
  width: 100%;
}

.page__content {
  z-index: 5;
  flex-grow: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.page__footer {
  z-index: 10;
  position: relative;
  width: 100%;
}
