.process {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin-bottom: 58px;

  @media (min-width: $tablet) {
    margin-bottom: 64px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 105px;
  }
}

.process__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;

  @include adaptive-width;
}

.process__border {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  border: 1px solid $white-light;

  @media (min-width: $desktop) {
    grid-template-columns: 682px 367px;
  }
}

.process__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 21px 20px 25px 32px;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet) {
    margin: 41px 20px 23px 34px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    grid-area: 1 / 2 / 2 / 3;
    flex-direction: column;
    align-items: flex-start;
  }
}

.process__header-icon {
  width: 45px;
  margin: 0 27px 0 0;
  fill: $green-light;

  @media (min-width: $desktop) {
    margin: 0 0 30px 0;
  }
}

.process__video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: $white-light-1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/video-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    order: -1;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    grid-area: 1 / 1 / 4 / 2;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.process__video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    translate(-50%, -50%)
    scale3d(1, 1, 1);
  margin: 0 -50% 0 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    transform:
      translate(-50%, -50%)
      scale3d(1.2, 1.2, 1);
  }

  &:active {
    transform:
      translate(-50%, -50%)
      scale3d(0.8, 0.8, 1);
    opacity: 0.3;
  }
}

.process__video-play-icon {
  fill: none;
}

.process__description {
  display: block;
  margin: 35px 30px 30px 33px;
  font-size: 13px;
  line-height: 24px;
  color: $dark;

  @media (min-width: $tablet) {
    margin: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.process__button-order {
  margin: 11px 33px 31px 33px;

  @media (min-width: $tablet) {
    margin: 41px 41px 45px 41px;
  }

  @media (min-width: $desktop) {
    grid-area: 3 / 2 / 4 / 3;
  }
}
