.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 0 0 24px 0;
  border-bottom: 1px solid $white-light-1;
  list-style: none;

  @media (min-width: $tablet) {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.social__item {
  margin-right: 40px;
  fill: $black-light;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  svg {
    @include event-green-opacity;
  }
}

.social__logo {
  fill: $black-light;
}
