/* Правильно ли я задал font-face
для последующего задания стилий элементов с помощью
  font-style
  font-weight
  и чтобы не менять шрифты в свойствах элементов?
*/

@font-face {
  font-display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src:
    local("Open Sans Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}
