@mixin adaptive-width($pad-mobile: 30px, $pad-tablet: 50px, $pad-desktop: 50px) {
  box-sizing: border-box;

  @media (max-width: $tablet) {
    width: 100%;
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
  }

  @media (min-width: $tablet) {
    width: 100%;
    padding-left: $pad-tablet;
    padding-right: $pad-tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding-left: $pad-desktop;
    padding-right: $pad-desktop;
  }
}

@mixin adaptive-width-desktop($pad-mobile: 30px, $pad-tablet: 50px, $pad-desktop-1: 100px, $pad-desktop-2: 225px) {
  box-sizing: border-box;

  @media (max-width: $tablet) {
    width: 100%;
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
  }

  @media (min-width: $tablet) {
    width: $tablet;
    padding-left: $pad-tablet;
    padding-right: $pad-tablet;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding-left: $pad-desktop-1;
    padding-right: $pad-desktop-2;
  }
}
