$white: #ffffff;
$white-alfa-3: rgba(255, 255, 255, 0.3);
$white-alfa-6: rgba(255, 255, 255, 0.6);
$white-light: #ececec;
$white-dark: #f1f1f1;
$dark: #444444;
$dark-alfa-1: rgba(68, 68, 68, 0.1);
$dark-alfa-3: rgba(68, 68, 68, 0.3);
$black: #000000;
$black-light: #231f20;
$black-alfa-2: rgba(0, 0, 0, 0.2);
$black-alfa-3: rgba(0, 0, 0, 0.3);
$black-alfa-6: rgba(0, 0, 0, 0.6);
$green: #56c3b2;
$green-1: #46c1ae;
$green-1-alfa-3: rgba(70, 193, 174, 0.3);
$green-2: #62d1ba;
$green-light: #63d1bb;
$green-light-alfa-3: rgba(99, 209, 187, 0.3);
$green-light-1: #59d5bc;
$green-dark: #149080;
$green-dark-alfa-3: rgba(20, 144, 128, 0.3);
$green-dark-alfa-5: rgba(20, 144, 128, 0.3);
$green-dark-alfa-7: rgba(20, 144, 128, 0.3);
